.small-basket
	display: inline-block
	margin-bottom: 20px

	&__link
		display: flex
		flex-direction: row
		flex-wrap: nowrap
		justify-content: flex-start
		align-items: stretch
		text-decoration: none
		color: #333

	&__ic
		position: relative
		display: block
		margin-right: 15px
		width: 36px
		height: 31px
		background: url("./images/basket.svg") center center no-repeat

	&__count
		position: absolute
		right: -10px
		top: -6px
		z-index: 2
		display: block
		border-radius: 50%
		width: 20px
		height: 20px
		text-align: center
		font-size: 12px
		line-height: 20px
		background: $pacific-blue
		color: #fff

	&__text
		display: flex
		flex-direction: column
		flex-wrap: nowrap
		justify-content: center
		align-content: stretch
		align-items: stretch