.small-basket
	a.small-basket__link(href="#")
		span.small-basket__ic
			span.small-basket__count {{ basket ? basket.ITEMS_INFO.QUANTITY_ALL : 0}}
		span.small-basket__text
			span.small-basket__title Моя корзина
			span.small-basket__price Сумма {{ basket ? basket.ITEMS_INFO.FINAL_PRICE : 0}} р.