<template>
	<div class="ordering-wrapper grid-x grid-padding-x">
		<div class="ordering-content cell large-9 small-12">
			<v-collapse-wrapper wrapperClassProp="ordering">
				<products-comp></products-comp>
				<location-comp></location-comp>
				<delivery-comp></delivery-comp>
				<payment-comp></payment-comp>
				<buyer-comp></buyer-comp>
			</v-collapse-wrapper>
			<ordering-btn-comp orderingBtnClassProp="ordering-content-btn-wrap"></ordering-btn-comp>
		</div>
		<div class="ordering-sidebar cell large-3 small-12">
			<ordering-result-comp></ordering-result-comp>
			<ordering-btn-comp orderingBtnClassProp="ordering-sidebar-btn-wrap"></ordering-btn-comp>
		</div>
	</div>
</template>

<style lang="sass">
@import "./node_modules/foundation-sites/scss/foundation"

.ordering
	counter-reset: heading

	&-delivery,
	&-payment
		align-content: flex-start
		align-items: flex-start

	&-sidebar
		margin-top: 30px

.ordering-item
	border: 1px solid $mercury
	margin-bottom: 30px

	&:last-child
		margin-bottom: 0

	&__header
		position: relative
		background: lighten($mercury, 5%)

		&-inner
			display: flex
			flex-direction: row
			flex-wrap: nowrap
			justify-content: space-between
			align-content: flex-start
			align-items: flex-start
			padding: 10px 10px 10px 60px

	&__buttons-wrap
		margin-top: 25px

	&__body

		&-inner
			border-top: 1px solid $mercury
			padding: 15px

	&__count
		position: absolute
		left: 0
		top: 0
		bottom: 0;
		border-right: 1px solid $mercury
		width: 44px
		text-align: center

	&__count::before
		counter-increment: heading
		content: counter(heading)
		display: flex
		flex-direction: row
		flex-wrap: nowrap
		justify-content: center
		align-content: center
		align-items: center
		height: 100%
		font-weight: 700
		font-size: 15px

	&__title
		margin-right: 15px
		font-weight: 700
		font-size: 18px

	&__change
		color: $main-color
		text-decoration: none

.requared
	color: red

@include breakpoint(large)
	.ordering-sidebar
		margin-top: 0

	.ordering-content .ordering-content-btn-wrap
		display: block

	.ordering-sidebar .ordering-sidebar-btn-wrap
		display: none
</style>

<script>
import Vue from 'vue'
import Products from './products/products.vue'
import Location from './location/location.vue'
import Delivery from './delivery/delivery.vue'
import Payment from './payment/payment.vue'
import Buyer from './buyer/buyer.vue'
import OrderingBtn from './ordering-btn/ordering-btn.vue'
import OrderingResult from './ordering-result/ordering-result.vue'

export default {
}

Vue.component('products-comp', Products)
Vue.component('location-comp', Location)
Vue.component('delivery-comp', Delivery)
Vue.component('payment-comp', Payment)
Vue.component('buyer-comp', Buyer)
Vue.component('ordering-btn-comp', OrderingBtn)
Vue.component('ordering-result-comp', OrderingResult)
</script>
