v-collapse-item(itemClassProp="ordering-item ordering-item-delivery")
	.ordering-item__header
		.ordering-item__count
		.ordering-item__header-inner
			.ordering-item__title
				| Доставка
			v-collapse-toggle(toggleClassProp="ordering-item__change" toggleTextProp="изменить")
	v-collapse-content(contentClassProp="ordering-item__body")
		.ordering-item__body-inner
			.ordering-delivery.grid-x.grid-padding-x(v-if="deliverySystems")
				.cell.medium-8
					.ordering-delivery__items-wrap.check-items-wrap.grid-x.grid-padding-x
						label.ordering-delivery__item.check-item.cell.small-6.large-4(v-for="(item, key) in deliverySystems")
							input.check-item__input(type="radio" :value="key" :key="key" v-model="selectedDeliverySystem" @change="changeDeliverySystem")
							span.check-item__img(:style='{ backgroundImage: `url(${item.PICTURE})` }')
								span.check-item__price {{item.CONFIG.MAIN.PRICE +' руб.'}}
							span.check-item__title {{item.NAME}}
				.cell.medium-4
					.ordering-delivery__item-selected.check-item-selected
						.check-item-selected__title {{selectedDeliverySystemInfo.NAME}}
						.check-item-selected__img.check-item__img(:style='{ backgroundImage: `url(${selectedDeliverySystemInfo.PICTURE})` }')
						.check-item-selected__desc(v-if="selectedDeliverySystemInfo.DESCRIPTION != ''")
							| {{selectedDeliverySystemInfo.DESCRIPTION}}
						.check-item-selected__price
							.check-item-selected__price-title
								| Стоимость:
							.check-item-selected__price-val
								| {{selectedDeliverySystemInfo.CONFIG.MAIN.PRICE+' руб.'}}
			.ordering-item__buttons-wrap.clearfix
				v-collapse-toggle-back(toggleClassProp="ordering-item__btn btn" toggleTextProp="Назад")
				v-collapse-toggle-then(toggleClassProp="ordering-item__btn btn" toggleTextProp="Далее")