.check-item
	margin-bottom: 15px
	cursor: pointer
	text-align: center

	&:hover .check-item__img
		border-color: $main-color
	
	input
		display: none

		&:checked ~ .check-item__img
			border-color: $main-color

	&__img
		position: relative
		display: inline-block
		width: 100%
		padding-top: 50%
		border: 2px solid $mercury
		background-position: center center
		background-repeat: no-repeat
		background-size: contain
		transition: $transition

	&__price
		position: absolute
		right: -2px
		bottom: -2px
		z-index: 2
		padding: 2px 4px
		border-radius: 1px
		font-size: 13px
		line-height: 13px
		color: $white
		background: rgba(0, 0, 0, 0.5)

	&__title
		display: block
		margin-top: 5px
		font-size: 12px
		line-height: 1.2

	&-selected
		padding: 7px 15px
		border: 1px solid $mercury
		background: lighten($mercury, 8%)

		&__title
			margin-bottom: 10px
			font-weight: 700

		&__img
			margin-bottom: 5px
		
		&__desc
			margin-bottom: 5px
			line-height: 1.2
			font-size: 13px

		&__price

			&-val
				font-weight: 700