v-collapse-item(itemClassProp="ordering-item ordering-item-buyer")
	.ordering-item__header
		.ordering-item__count
		.ordering-item__header-inner
			.ordering-item__title
				| Покупатель
			v-collapse-toggle(toggleClassProp="ordering-item__change" toggleTextProp="изменить")
	v-collapse-content(contentClassProp="ordering-item__body")
		.ordering-item__body-inner
			.ordering-buyer(v-if="buyer")
				.ordering-buyer__item(v-for="(field, key) in buyer.fields" v-if="field.IS_LOCATION == 'N'")
					.ordering-buyer__item-title
						| {{field.NAME}}
						span.requared(v-if="field.REQUIRED == 'Y'") *
					input.ordering-buyer__item-input(type="text" v-if="field.REQUIRED == 'Y'" required)
					input.ordering-buyer__item-input(type="text" v-else)
			.ordering-item__buttons-wrap.clearfix
				v-collapse-toggle-back(toggleClassProp="ordering-item__btn btn" toggleTextProp="Назад")