.ordering-result
	.ordering-result__items-wrap
		.ordering-result__item
			.ordering-result__item-title
				| Товаров на:
			.ordering-result__item-value
				| {{(productsSumm ? productsSumm : 0) + ' руб.'}}
		.ordering-result__item
			.ordering-result__item-title
				| Доставка:
			.ordering-result__item-value
				| {{deliveryPrice === 0 ? 'бесплатно' : deliveryPrice ? deliveryPrice + ' руб.' : 0  + ' руб.'}}
	.ordering-result__total
		.ordering-result__total-title
			| Итого:
		.ordering-result__total-value
			| {{total + ' руб.'}}