.ordering-result
	padding: 15px
	border: 1px solid $mercury

	&__item
		display: flex
		flex-direction: row
		flex-wrap: nowrap
		justify-content: space-between
		align-content: flex-start
		align-items: flex-start
		margin-bottom: 10px
		padding-bottom: 10px
		border-bottom: 1px solid $mercury

		&:last-child
			margin-bottom: 0

		&-title
			font-weight: 700

	&__total
		display: flex
		flex-direction: row
		flex-wrap: nowrap
		justify-content: space-between
		align-content: flex-start
		align-items: flex-start
		margin-top: 20px
		font-size: 18px
		font-weight: 700