<style lang="sass">
</style>

<script>
import Vue from 'vue'
import collapseWrapper from './collapse-wrapper.vue'
import collapseItem from './collapse-item.vue'
import collapseToggle from './collapse-toggle.vue'
import collapseToggleThen from './collapse-toggle-then.vue'
import collapseToggleBack from './collapse-toggle-back.vue'
import collapseContent from './collapse-content.vue'

export default {
}

Vue.component('v-collapse-wrapper', collapseWrapper)
Vue.component('v-collapse-item', collapseItem)
Vue.component('v-collapse-toggle', collapseToggle)
Vue.component('v-collapse-toggle-then', collapseToggleThen)
Vue.component('v-collapse-toggle-back', collapseToggleBack)
Vue.component('v-collapse-content', collapseContent)
</script>
