<template>
<div :class="wrapperClassProp + ' collapse-wrapper'">
	<slot></slot>
</div>
</template>

<style lang="sass">

.collapse

	&-item
		position: relative
		overflow: hidden

		&:not(.collapse-item_active) .collapse-content
			height: auto !important

		&_active .collapse-content
			height: 0
			position: static
			width: auto
			z-index: auto
			visibility: visible

		&_opened .ordering-item__body
			height: auto !important

	&-content
		overflow: hidden
		position: absolute
		width: 100%
		z-index: -1
		visibility: hidden

	&-toggle-back
		float: left

	&-toggle-then
		float: right
</style>

<script>
export default {
  props: ['wrapperClassProp'],
  data () {
    return {
      isCollapseComp: true
    }
  },
  methods: {
  },
  created: function () {
    this.$bus.collapseItemsIds = []
    this.$bus.$on('pushCollapseItemsIds', id => {
      this.$bus.collapseItemsIds.push(id)
    })
  },
  mounted: function () {
    this.$bus.$emit('getCollapseItemsIdsBack', this.$bus.collapseItemsIds)
    this.$bus.$emit('getCollapseItemsIdsThen', this.$bus.collapseItemsIds)
  },
  beforeDestroy () {
    this.$bus.$off('pushCollapseItemsIds')
  }
}
</script>
