<template>
<div :class="contentClassProp + ' collapse-content'">
	<slot></slot>
</div>
</template>

<script>
var TWEEN = require('@tweenjs/tween.js')

export default {
  props: ['contentClassProp'],
  data () {
    return {
      isCollapseComp: true,
      id: null,
      isActive: false,
      isOpen: false
    }
  },
  watch: {
    id (after, before) {
      this.$bus.collapseItemsIds.forEach((item, i, arr) => {
        if (this.id === item && i === 0) {
          this.$bus.$emit('addActiveCollapseClass', this.id)
          this.$bus.$emit('addOpenedCollapseClass', this.id)
          this.isOpen = true
        }
      })

      this.$children.forEach((item, i, arr) => {
        if (item.isCollapseComp) {
          item.id = this.id
        }
      })
    }
  },
  mounted: function () {
    this.$bus.$on('slideCollapse', (id) => {
      var height = this.$el.clientHeight

      if (!this.isActive) {
        let slide = (hideSiblings) => {
          this.isActive = true
          var position
          var to

          if (!this.isOpen) {
            position = {
              y: 0
            }
            to = height
          } else {
            position = {
              y: height
            }
            to = 0
          }

          function animate (time) {
            requestAnimationFrame(animate)
            TWEEN.update(time)
          }
          requestAnimationFrame(animate)

          var tween = new TWEEN.Tween(position)
            .to({ y: to }, 300)
            .easing(TWEEN.Easing.Quadratic.Out)
            .onUpdate(() => {
              this.$el.style.setProperty('height', position.y + 'px')
            })
            .onStart(() => {
              this.$bus.$emit('removeOpenedCollapseClass', id, hideSiblings)
              this.$bus.$emit('addActiveCollapseClass', this.id)
            })
            .onComplete(() => {
              if (!this.isOpen) {
                this.$bus.$emit('addOpenedCollapseClass', this.id)
                this.isOpen = true
              } else {
                this.$bus.$emit('removeActiveCollapseClass', id, hideSiblings)
                this.isOpen = false
              }
              this.isActive = false
            })
            .start()
        }

        if (id === this.id) {
          slide(false)
        } else {
          if (this.isOpen) {
            slide(true)
          }
        }
      }
    })
  },
  beforeDestroy () {
    this.$bus.$off('slideCollapse')
  }
}
</script>
