<template>
<div :class="itemClassProp + ' collapse-item'">
	<slot></slot>
</div>
</template>

<script>
export default {
  props: ['itemClassProp'],
  data () {
    return {
      isCollapseComp: true,
      activeClass: 'collapse-item_active',
      openedClass: 'collapse-item_opened',
      id: null
    }
  },
  created: function () {
    this.id = this._uid
  },
  mounted: function () {
    this.$children.forEach((item, i, arr) => {
      if (item.isCollapseComp) {
        item.id = this.id
      }
    })

    this.$bus.$emit('pushCollapseItemsIds', this.id)

    this.$bus.$on('addActiveCollapseClass', (id) => {
      if (id === this.id) {
        this.$el.classList.add(this.activeClass)
      }
    })

    this.$bus.$on('addOpenedCollapseClass', (id) => {
      if (id === this.id) {
        this.$el.classList.add(this.openedClass)
      }
    })

    this.$bus.$on('removeActiveCollapseClass', (id, hideSiblings) => {
      if (hideSiblings) {
        if (this.id !== id) {
          this.$el.classList.remove(this.activeClass)
        }
      }	else {
        if (this.id === id) {
          this.$el.classList.remove(this.activeClass)
        }
      }
    })
    this.$bus.$on('removeOpenedCollapseClass', (id, hideSiblings) => {
      if (hideSiblings) {
        if (this.id !== id) {
          this.$el.classList.remove(this.openedClass)
        }
      }	else {
        if (this.id === id) {
          this.$el.classList.remove(this.openedClass)
        }
      }
    })
  },
  beforeDestroy () {
    this.$bus.$off('addActiveCollapseClass')
    this.$bus.$off('addOpenedCollapseClass')
    this.$bus.$off('removeActiveCollapseClass')
    this.$bus.$off('removeOpenedCollapseClass')
  }
}
</script>
