<template>
<a href="javascript:void(0);" :class="toggleClassProp + ' collapse-toggle'" @click="toggle">{{toggleTextProp.trim()}}</a>
</template>

<script>
export default {
  props: ['toggleClassProp', 'toggleTextProp'],
  data () {
    return {
      isCollapseComp: true,
      id: null
    }
  },
  methods: {
    toggle: function () {
      this.$bus.$emit('slideCollapse', this.id)
    }
  }
}
</script>
