<template>
<a href="javascript:void(0);" :class="toggleClassProp + ' collapse-toggle-then'" @click="toggle">{{toggleTextProp.trim()}}</a>
</template>

<script>
export default {
  props: ['toggleClassProp', 'toggleTextProp'],
  data () {
    return {
      isCollapseComp: true,
      id: null,
      nextId: null,
      collapseItemsIds: null
    }
  },
  watch: {
    id (after, before) {
      this.collapseItemsIds.forEach((item, i, arr) => {
        this.nextId = arr[arr.indexOf(this.id) + 1]
      })
    }
  },
  methods: {
    toggle: function () {
      this.$bus.$emit('slideCollapse', this.nextId)
    }
  },
  mounted: function () {
    var thisObj = this

    this.$bus.$on('getCollapseItemsIdsThen', (val) => {
      thisObj.collapseItemsIds = val
    })
  },
  beforeDestroy () {
    this.$bus.$off('getCollapseItemsIdsThen')
  }
}
</script>
