v-collapse-item(itemClassProp="ordering-item ordering-item-payment")
	.ordering-item__header
		.ordering-item__count
		.ordering-item__header-inner
			.ordering-item__title
				| Оплата
			v-collapse-toggle(toggleClassProp="ordering-item__change" toggleTextProp="изменить")
	v-collapse-content(contentClassProp="ordering-item__body")
		.ordering-item__body-inner
			.ordering-payment.grid-x.grid-padding-x(v-if="payments")
				.cell.medium-8
					.ordering-payment__items-wrap.check-items-wrap.grid-x.grid-padding-x
						label.ordering-payment__item.check-item.cell.small-6.large-4(v-for="(payment, key) in payments")
							input.check-item__input(type="radio" :value="key" :key="key" v-model="selectedPayment" @change="changePayment")
							span.check-item__img(:style='{ backgroundImage: `url(${payment.PICTURE})` }')
							span.check-item__title {{payment.NAME}}
				.cell.medium-4
					.ordering-payment__item-selected.check-item-selected
						.check-item-selected__title {{selectedPaymentInfo.NAME}}
						.check-item-selected__img.check-item__img(:style='{ backgroundImage: `url(${selectedPaymentInfo.PICTURE})` }')
						.check-item-selected__desc(v-if="selectedPaymentInfo.DESCRIPTION != ''")
							| {{selectedPaymentInfo.DESCRIPTION}}
			.ordering-item__buttons-wrap.clearfix
				v-collapse-toggle-back(toggleClassProp="ordering-item__btn btn" toggleTextProp="Назад")
				v-collapse-toggle-then(toggleClassProp="ordering-item__btn btn" toggleTextProp="Далее")