// Base Styles
//––––––––––––––––––––––––––––––––––––––––––––––––––

* {
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: border-box;
  }
}

html {
  font-size: 10px;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  -moz-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;  
}

body {
  position: relative;
  height: 100%;
  font-size: 15px ;
  line-height: 1.428571429;
  font-family: "ProximaNova", Arial, sans-serif;
  color: $gray-light;
  background-color: $white;
  overflow-x: hidden; 
}

input[placeholder]::-webkit-input-placeholder,
textarea[placeholder]::-webkit-input-placeholder       {opacity: 1; transition: opacity .2s ease;}
input[placeholder]::-moz-placeholder,
textarea[placeholder]::-moz-placeholder                {opacity: 1; transition: opacity .2s ease;}
input[placeholder]:-moz-placeholder,
textarea[placeholder]:-moz-placeholder                 {opacity: 1; transition: opacity .2s ease;}
input[placeholder]:-ms-input-placeholder,
textarea[placeholder]:-ms-input-placeholder            {opacity: 1; transition: opacity .2s ease;}
input[placeholder]:focus::-webkit-input-placeholder,
textarea[placeholder]:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .2s ease;}
input[placeholder]:focus::-moz-placeholder,
textarea[placeholder]:focus::-moz-placeholder          {opacity: 0; transition: opacity .2s ease;}
input[placeholder]:focus:-moz-placeholder,
textarea[placeholder]:focus:-moz-placeholder           {opacity: 0; transition: opacity .2s ease;}
input[placeholder]:focus:-ms-input-placeholder,
textarea[placeholder]:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .2s ease;}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  // border-color: transparent;
  -webkit-text-fill-color: #555;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  vertical-align: middle;
}

hr {
  margin-top: 30px;
  margin-bottom: 35px;
  border-width: 0;
  border-top: 1px solid $gray-light;
}

a {
  color: $main-color;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.clearfix:after{
  content: "";
  display: table;
  clear: both;
}

#app{
  padding: 30px 0 30px;
}
 
.loader{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background-color: rgba(255,255,255,0.5);
  background-image: url(./../assets/ajax-loader.gif);
  background-position: center center;
  background-repeat: no-repeat;
}

.fade-enter-active,
.fade-leave-active{
  transition: opacity .5s;
}

.fade-enter,
.fade-leave-to{
  opacity: 0;
}