// Buttons
//––––––––––––––––––––––––––––––––––––––––––––––––––

.btn,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 35px;
  padding: 0 20px;
  color: darken($mercury, 20%);
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  line-height: 34px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: $border-radius;
  border: 1px solid darken($mercury, 7%);
  cursor: pointer;
  position: relative;
  transition: all .35s;
  appearance: none;
}

.btn:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  color: $white;
  background-color: $main-color;
  border-color: $main-color; 
  outline: 0;
  text-decoration: none;
}

.btn:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  outline: 0;
}