// Forms
//––––––––––––––––––––––––––––––––––––––––––––––––––

input[type='email'],
input[type='number'],
input[type='search'],
input[type='text'],
input[type='tel'],
input[type='url'],
input[type='password'],
textarea,
select {
  height: 35px;
  padding: 6px 15px 6px 15px; // The 6px vertically centers text on FF, ignored by Webkit
  background-color: #fff;
  border: 1px solid darken($mercury, 5%);
  border-radius: $border-radius;
  box-shadow: none;
  color: $gray-light;
  transition: border-color .35s, background .35s; 

  &::-webkit-input-placeholder{
    color: $gray-light;
  }
}

// Removes awkward default styles on some inputs for iOS
input {
  &[type="email"],
  &[type="number"],
  &[type="search"],
  &[type="text"],
  &[type="tel"],
  &[type="url"],
  &[type="password"] {
    appearance: none;
  }
}

textarea {
  appearance: none;
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}

input {
  &[type="email"]:focus,
  &[type="number"]:focus,
  &[type="search"]:focus,
  &[type="text"]:focus,
  &[type="tel"]:focus,
  &[type="url"]:focus,
  &[type="password"]:focus {
    border-color: $main-color;
    outline: 0;
  }
}

textarea:focus,
select:focus {
  border-color: $main-color;
  outline: 0;
}

label,
legend {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}

fieldset {
  padding: 0;
  border-width: 0;
}

input {
  &[type="checkbox"],
  &[type="radio"] {
    display: inline;
  }
}

label > .label-body {
  display: inline-block;
  margin-left: 5px;
  font-weight: normal;
}
