//colors
$bgColor: #f1f1f1 !default;
$mercury: #e5e5e5 !default;
$pacific-blue: #00A9C8 !default;
$gray-light: #777 !default;
$white: #fff !default;
$main-color: #17A1C0 !default;

//base
$border-radius: 4px !default;
$transition: all .35s !default;

//grid
$global-width: 1000px;
$column-padding: 15px !default;