.ordering-products
	&__header
		display: none

	&__row
		padding-bottom: 20px
		margin-bottom: 25px
		border-bottom: 1px solid $mercury

		&:last-child
			padding: 0
			margin: 0
			border: none

	&__body-cell
		margin-bottom: 10px

		&:last-child
			margin-bottom: 0

		&::before
			content: attr(data-cell-title)
			display: block
			margin-bottom: 10px
			font-weight: 700

	&__item
		display: flex
		justify-content: flex-start
		align-content: stretch
		align-items: stretch

		&-img
			width: 30px
			height: 30px
			margin-right: 10px

		&-info
			min-height: 30px
			display: flex
			justify-content: flex-start
			align-content: center
			align-items: center

		&-title

@media screen and(min-width: 768px)
	.ordering-products
		&__body-cell
			display: flex
			flex-direction: row
			flex-wrap: nowrap
			justify-content: flex-start
			align-content: stretch

			&::before
				flex-shrink: 0
				margin: 0 10px 0 0
				width: 100px
				word-wrap: break-word
				hyphens: auto

@media screen and(min-width: 1170px)
	.ordering-products
		display: table
		border-collapse: collapse
		border-spacing: 0
		width: 100%
		
		&__header
			display: table-header-group

		&__body
			display: table-row-group

		&__footer
			display: table-footer-group

		&__row
			display: table-row
			padding: 0
			margin: 0
			border: none

		&__cell
			display: table-cell
			padding: 10px
			border: 1px solid $mercury

			&::before
				display: none

		&__header-cell
			font-weight: 700