v-collapse-item(itemClassProp="ordering-item ordering-item-products")
	.ordering-item__header
		.ordering-item__count
		.ordering-item__header-inner
			.ordering-item__title
				| Товары в заказе
			v-collapse-toggle(toggleClassProp="ordering-item__change" toggleTextProp="изменить")
	v-collapse-content(contentClassProp="ordering-item__body")
		.ordering-item__body-inner
			.ordering-products(v-if="basket")
				.ordering-products__header
					.ordering-products__row.ordering-products__header-row
						.ordering-products__cell.ordering-products__header-cell
							| Товар
						.ordering-products__cell.ordering-products__header-cell
							| Количество
						.ordering-products__cell.ordering-products__header-cell
							| Цена
				.ordering-products__body
					.ordering-products__row.ordering-products__body-row(v-for="item in basket.ITEMS")
						.ordering-products__cell.ordering-products__body-cell(data-cell-title="Товар")
							.ordering-products__item
								.ordering-products__item-img
									img(:src="item.PREVIEW_PICTURE" :alt="item.NAME")
								.ordering-products__item-info
									a.ordering-products__item-title(:href="item.PREVIEW_PICTURE")
										| {{item.NAME}}
						.ordering-products__cell.ordering-products__body-cell(data-cell-title="Количество")
							| {{globalProjectProperties.nullCut(item.QUANTITY)}}
						.ordering-products__cell.ordering-products__body-cell(data-cell-title="Цена")
							| {{item.PRICE}}
			.ordering-item__buttons-wrap.clearfix
				v-collapse-toggle-then(toggleClassProp="ordering-item__btn btn" toggleTextProp="Далее")