v-collapse-item(itemClassProp="ordering-item ordering-item-location")
	.ordering-item__header
		.ordering-item__count
		.ordering-item__header-inner
			.ordering-item__title
				| Регион доставки
			v-collapse-toggle(toggleClassProp="ordering-item__change" toggleTextProp="изменить")
	v-collapse-content(contentClassProp="ordering-item__body")
		.ordering-item__body-inner
			.ordering-location(v-if="payers")
				.ordering-location-payer-type
					.ordering-location-payer-type__title
						| Тип плательщика
					.ordering-location-payer-type__items-wrap
						label.ordering-location-payer-type__item(v-for="(payer, key) in payers")
							input.ordering-location-payer-type__item-check(type="radio" :value="key" :key="key" v-model="selectedPayer" @change="changePayerType")
							span.ordering-location-payer-type__item-title {{payer.NAME}}
				.ordering-location-search
					label.ordering-location-search__title
						| Местоположение
						span.requared *
					.ordering-location-search__input-wrap
						stf-select(v-model="selectedLocation")
							div(slot="label")
								| Введите название ...
							div(slot="value")
								div(v-if="selectedLocation")
									span {{selectedLocation.NAME}}
							div(slot="search-input")
								input.ordering-location-search__input(type="text" placeholder="Введите название ..." v-model="searchString")
							stf-select-option(v-for="location in locations" :key="location.ID" :value="location" :class="{'stf-select-option_selected': location.ID === (selectedLocation && selectedLocation.ID)}" v-if="searchString.length > 0") {{location.NAME}}
			.ordering-item__buttons-wrap.clearfix
				v-collapse-toggle-back(toggleClassProp="ordering-item__btn btn" toggleTextProp="Назад")
				v-collapse-toggle-then(toggleClassProp="ordering-item__btn btn" toggleTextProp="Далее")