.ordering-location
	&-payer-type
		&__title
			margin-bottom: 10px
			font-weight: 700

		&__items-wrap
			display: flex
			flex-direction: row
			flex-wrap: wrap
			justify-content: flex-start
			align-content: flex-start
			align-items: flex-start

		&__item
			display: flex
			flex-direction: row
			flex-wrap: nowrap
			justify-content: flex-start
			align-content: flex-start
			align-items: flex-start
			margin: 0 10px 10px 0
			font-weight: 400
			cursor: pointer

			&:last-child
				margin-right: 0

			&-check
				cursor: pointer

			&-check
				margin: 4px 10px 0 0

	&-search
		&__title
			display: block
			margin-bottom: 5px
			font-weight: 400
		
		&__input
			display: block
			width: 100%

			&-wrap
				position: relative