<template>
	<div id="app">
		<div class="grid-container">
			<smallBasket></smallBasket>
			<orderingComp></orderingComp>
			<Loader></Loader>
		</div>
	</div>
	</template>
<style lang="scss" src="./style/_main.scss"></style>
